.wrap{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}
.card{
    display: flex;
    margin: 20px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    gap: 10px;
    align-items: center;
    flex-direction: column;

    img{
        width: 100%;
    }
}